<div class="modal fade" id="basicPackageFeaturesModal" tabindex="-1" aria-labelledby="basicPackageFeaturesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content package-features-modal">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="basicPackageFeaturesModalLabel">基本パックの付属機能</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        <div class="package-feature-table" role="table" aria-label="基本パックの画面と付属機能">
          <div class="package-feature-row package-feature-row-head" role="row">
            <div role="columnheader">画面</div>
            <div role="columnheader">付属機能</div>
          </div>
          <div class="package-feature-row" role="row">
            <div role="cell">記録を入力する画面</div>
            <div role="cell">
              <span class="package-feature-chip is-create">データ登録機能</span>
            </div>
          </div>
          <div class="package-feature-row" role="row">
            <div role="cell">入力した記録を一覧で見る画面</div>
            <div role="cell"></div>
          </div>
          <div class="package-feature-row" role="row">
            <div role="cell">記録の詳しい内容を見る画面</div>
            <div role="cell">
              <span class="package-feature-chip is-edit">データ編集機能</span>
              <span class="package-feature-chip is-delete">データ削除機能</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="operationPackageFeaturesModal" tabindex="-1" aria-labelledby="operationPackageFeaturesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content package-features-modal">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="operationPackageFeaturesModalLabel">運用パックの付属機能</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        <div class="package-feature-table" role="table" aria-label="運用パックの画面と付属機能">
          <div class="package-feature-row package-feature-row-head" role="row">
            <div role="columnheader">画面</div>
            <div role="columnheader">付属機能</div>
          </div>
          <div class="package-feature-section" role="rowgroup">通常利用</div>
          <div class="package-feature-row" role="row">
            <div role="cell">記録を入力する画面</div>
            <div role="cell">
              <span class="package-feature-chip is-create">データ登録機能</span>
            </div>
          </div>
          <div class="package-feature-row" role="row">
            <div role="cell">入力した記録を一覧で見る画面</div>
            <div role="cell"></div>
          </div>
          <div class="package-feature-row" role="row">
            <div role="cell">入力した記録の検索画面</div>
            <div role="cell">
              <span class="package-feature-chip is-search">データ検索機能</span>
            </div>
          </div>
          <div class="package-feature-row" role="row">
            <div role="cell">記録の詳しい内容を見る画面</div>
            <div role="cell">
              <span class="package-feature-chip is-edit">データ編集機能</span>
              <span class="package-feature-chip is-delete">データ削除機能</span>
            </div>
          </div>
          <div class="package-feature-section" role="rowgroup">管理者向け</div>
          <div class="package-feature-row" role="row">
            <div role="cell">管理用の情報を入力する画面</div>
            <div role="cell">
              <span class="package-feature-chip is-create">データ登録機能</span>
            </div>
          </div>
          <div class="package-feature-row" role="row">
            <div role="cell">管理用の情報を一覧で見る画面</div>
            <div role="cell"></div>
          </div>
          <div class="package-feature-row" role="row">
            <div role="cell">管理用の情報の詳しい内容を見る画面</div>
            <div role="cell">
              <span class="package-feature-chip is-edit">データ編集機能</span>
              <span class="package-feature-chip is-delete">データ削除機能</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
